body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

.short{
    font-weight:bold;
    color:#FF0000;
    font-size:medium;
}
.weak{
    color: yellow;
    font-weight:bold;
    color:orange;
    font-size:medium;
}
.good{
    font-weight:bold;
    color:#2D98F3;
    font-size:medium;
}
.strong{
    font-weight:bold;
    color: limegreen;
    font-size:medium;
}