

.login-page{
    width: 360px;
    padding: 2% 0 0;
    margin: auto;
}

.form{
  position:relative;
    z-index: 1;
    background: #ff5c00;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: "Roboto",  sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 14px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}


.form button{
    font-family: "Roboto",  sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form .message{
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 14px;
}

.form button:hover,.form button:active{
    background: #43A047;
}

.form .message a{
    color: #4CAF50;
}

.form .register-form{
    display: none;
}

.box{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/marketfon.jpg);
    background-position: center;
    background-size: cover;
    height: 770px;
}































